{
  "presets": ["es2016", "es2015", "flow", "react"],
  "plugins": [
    "syntax-dynamic-import",
    ["babel-plugin-import-inspector", {
      "currentModuleFileName": false,
      "serverSideRequirePath": true,
      "webpackRequireWeakId": true
    }]
  ]
}
